@font-face {
  font-family: Futura;
  src: url('../fonts/futura/Futura\ Heavy\ font.ttf') format('truetype');
}

@font-face {
  font-family: Gotham;
  src: url('../fonts/GothamBookRegular/GothamBookRegular.otf');
}

@font-face {
  font-family: Gotham;
  src: url('../fonts/gothambold/gothambold1.eot');
  src: url('../fonts/gothambold/gothambold1.woff') format('woff');
  src: url('../fonts/gothambold/gothambold1.ttf') format('truetype');
  font-weight: bold;
}