header {
  background-color: #ffffff;
  height: 80px;
  padding: 0 48px;
}

header img {
  width: 140.5px;
  height: 64px;
}

button {
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  font-family: Gotham;
  color: #141416;
  line-height: normal;
  cursor: pointer;
  /* the reason for that is a weird padding in gotham font */
  padding: 28px 18px 18px; 
}

header .buttons-container button:first-child {
  margin-right: 8px;
}

header .buttons-container button.login {
  background-color: rgba(242, 201, 76, 0.04);
  border: 1px solid #F2C94C;
}

header .buttons-container button.login:hover {
  background-color: #F2C94C;
}

button.orange {
  background-color: #F2C94C;
}

button.orange:hover {
  background-color: #f2d74c;
}

