.side-content {
  width: 40%;
  background: #222224;
  justify-content: center;
}

.side-content.login {
  font-family: Gotham;
  background: #F8F8F8;
}

.side-content .sign-up {
  height: 80px;
  width: 100%;
  background: #eeeeee;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: #141416;
  cursor: pointer;
  margin-top: auto;
}

.side-content .image-container {
  position: relative;
  height: 80%;
}

.side-content .image-container img {
  position: absolute;
  top: 0;
  height: 100%;
  left: -20%;
}

.side-content .login-container {
  position: relative;
  flex: 1;
}

.side-content .login-container .ico-close {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 48px;
  right: 48px;
  cursor: pointer;
}

.side-content .login-container .login-content {
  width: 80%;
  padding: 25px 0px;
}

.side-content .login-container .login-content .icon-man {
  width: 96px;
  height: 96px;
}

.side-content .login-container .login-content .login-text {
  width: 250px;
  line-height: 28px;
  font-size: 20px;
  text-align: center;
  color: #141416;
  padding-top: 24px;
}

.side-content .login-container .login-content .actions-container {
  width: 100%;
  max-width: 425px;
  padding-top: 44px;
}

.side-content .login-container .login-content .actions-container input {
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  margin-top: 4px;
  font-size: 14px;
  line-height: 16px;
  padding: 15px 24px; 
}

.side-content .login-container .login-content .actions-container .input-password-container {
  position: relative;
}

.side-content .login-container .login-content .actions-container .input-password-container .icon-eye {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 22px;
  right: 22px;
  cursor: pointer;
}

.side-content .login-container .login-content .actions-container button {
  width: 100%;
  margin-top: 24px;
  padding: 15px 24px;
}

.side-content .login-container .login-content .remind-me {
  margin-top: 24px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  color: #141416;
}

.side-content .login-container .login-content .remind-me span {
  color: #F2C94C;
}

.side-content .login-container .login-content .remind-me span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.side-content .login-container .login-content .or {
  font-size: 14px;
  text-align: center;
  color: #8E8E93;
  margin-top: 48px;
}

.side-content .login-container .login-content .social {
  margin-top: 24px;
}

.side-content .login-container .login-content .social .social-ico-container {
  width: 48px;
  height: 48px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.side-content .login-container .login-content .social .ico-fb-container {
  background-color: #3B5998;
}

.side-content .login-container .login-content .social .ico-tw-container {
  background-color: #1DA1F2;
}

.side-content .login-container .login-content .social .ico-github-container {
  background-color: #181717;
}

@media (max-width: 850px) {
  .side-content {
    width: 100%;
    min-height: 500px;
    justify-content: flex-start;
  }

  .side-content .image-container {
    flex: 1;
    margin: 0 auto;
    width: 90%;
  }

  .side-content .image-container img {
    width: 100%;
    top: -20%;
    left: -20px;
    right: 0;
    margin: 0 auto;
    height: initial;
  }

  .side-content.login {
    position: absolute;
    height: 100%;
  }
  .side-content.login .login-container .ico-close {
    top: 10px;
    right: 10px;
  }

  .side-content.login .login-container {
    flex: inherit;
  }

  .side-content.login .login-container .login-content {
    margin-top: 50px;
    width: 90%;
  }

  .side-content .login-container .login-content .actions-container {
    padding: 50px;
  }
}
