.App {
  min-height: 100vh;
}

@font-face {
  font-family: Futura;
  src: url('./fonts/futura/futur.ttf') format('truetype');
}

@font-face {
  font-family: Gotham;
  src: url('./fonts/GothamBook/GothamBook.eot');
  src: url('./fonts/GothamBook/GothamBook.woff') format('woff');
  src: url('./fonts/GothamBook/GothamBook.ttf') format('truetype');
}

@font-face {
  font-family: Gotham;
  src: url('./fonts/gothambold/gothambold1.eot');
  src: url('./fonts/gothambold/gothambold1.woff') format('woff');
  src: url('./fonts/gothambold/gothambold1.ttf') format('truetype');
  font-weight: bold;
}