.App {
  min-height: 100vh;
}

@font-face {
  font-family: Futura;
  src: url('./fonts/futura/futur.ttf') format('truetype');
}

@font-face {
  font-family: Gotham;
  src: url('./fonts/Gotham-Font/GothamLight.ttf') format('truetype');
}

@font-face {
  font-family: Gotham;
  src: url('./fonts/Gotham-Font/GothamMedium.ttf') format('truetype');
  font-weight: bold;
}